*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}

.title {
	margin-top: 10px;
}

input {
	border: 1px solid rgba(221, 221, 221, 1);
	height: 24px;
	font-size: 14px;
	width: 20%;
	padding: 2px;
}

.submit {
	margin-top: 50px;
	border: 1px solid rgba(221, 221, 221, 1);
	width: 19%;
	position: absolute;
	left: 3%;
	top: 65%;
}
.empty{
	color: red;
}

 p {
 	margin-top: 3px;
 	margin-bottom: 10px;

 }

textarea{
	border: 1px solid rgba(221, 221, 221, 1);
	height: 25vh;
	width: 20%;
	font-size: 14px;
	padding: 2px;
}

h1{
	padding-top: 20px;
	padding-left: 40px;
}

.form {
	padding: 20px 40px;
}

.red-bar{
	height: 5px;
	background-color:red; 
	width: 20%;
	
}





